body{
 background-image:url("44780.jpg"); 
 background-size:100% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
  
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:rgb(249, 5, 5)
  }
  
  .new-game {
    font-weight: 4000;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: rgb(183, 0, 255);
  }