body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }


#intro{
    background-image:url("44780.jpg"); 
    background-size: cover  ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    }

#startButton{
    font-weight: 4000;
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: rgb(183, 0, 255);
    border-radius: 10px;
    align-items: center;
    margin-left: 47vw;
    margin-top: 25%;
  }


  h2 {
    font-family: 'Nosifer', cursive; 
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 800px;
    animation: blink 0.3s infinite alternate, drop 0.2s infinite; 
  }
  
  @keyframes drop {
    0%, 100% {
        text-shadow: 0 5px 10px rgba(255, 0, 0, 0.7), 0 10px 20px rgba(255, 0, 0, 0.5);
      }
      50% {
        text-shadow: 0 10px 15px rgba(255, 0, 0, 0.9), 0 15px 25px rgba(255, 0, 0, 0.7), 0 20px 30px rgba(255, 0, 0, 0.5);
      }
    }


  #audioButton {
    width: 50px;
    height: 50px;
    border-radius: 90%;
    background-color: #f20b44; /* Green */
    color: white;
    margin-left: -2400px;
    margin-top: -1400px;
  }
   

#board {
    background-image: url("vecteezy_river-forest-game-background_7357538.jpg");
    background-size: 100% 100%;
    width: 1500px;
    height: 500px;
    margin: auto;
    margin-top: 350px;
    position: relative;
    animation: infinite 5s;
    
}

.mosquito {
    background-color: pink;
    width: 50px;
    height: 50px;
    position: absolute;
    
}

.swatter {
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    
}

